$primary-color: #fff;
$secondary-color: #fefefe;
$text-color: #202124;

// Dimens
$desktop-size: 1281px;

$desktop-min-size: 1025px;
$desktop-max-size: 1280px;

$tablet-min-size: 768px;
$tablet-max-size: 1024px;

$tablet-low-res-min: 480px;
$tablet-low-res-max: 767px;

$mobile-min: 320px;
$mobile-max: 479px;

$body-text-size: 1rem;
$body-letter-spacing: 0.03125;
$body-font-weight: 500;

$subtitle-text-size: 1rem;
$subtitle-letter-spacing: 0.009375;
$subtitle-font-weight: 500;

.home {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
}