// Colors
$primary-color: #fff;
$secondary-color: #fefefe;
$text-color: #202124;

// Dimens
$desktop-size: 1281px;

$desktop-min-size: 1025px;
$desktop-max-size: 1280px;

$tablet-min-size: 768px;
$tablet-max-size: 1024px;

$tablet-low-res-min: 480px;
$tablet-low-res-max: 767px;

$mobile-min: 320px;
$mobile-max: 479px;

$body-text-size: 1rem;
$body-letter-spacing: 0.03125;
$body-font-weight: 500;

$subtitle-text-size: 1rem;
$subtitle-letter-spacing: 0.009375;
$subtitle-font-weight: 500;

h1 {
    font-size: 6rem;
    letter-spacing: -0.015625;
    font-weight: 300;
}
h2 {
    font-size: 3.75rem;
    letter-spacing: -0.0083;
    font-weight: 300;
}
h3 {
    font-size: 3rem;
    letter-spacing: 0;
    font-weight: 400;
}
h4 {
    font-size: 2.125rem;
    letter-spacing: 0.00735;
    font-weight: 400;
}
h5 {
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 400;
}
h6 {
    font-size: 400;
    letter-spacing: 0.03125;
    font-weight: 500;
}

html, body, #root{
    height: 100%;
}

.fragment {
    display: block;
}

